:root {
    --color-1: #145f71;
    --color-2: #18c1ea;
    --color-3: #f2fdfc;

    --main-width: 400px;
}

* {
    border: 0 none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0 none;
}

html
, body {
    height: 100%;
    width: 100%;
    background-color: var(--color-3);
    color: var(--color-1);
    font-family: 'Nunito', sans-serif;
}

body {
    padding: 1rem;
}

h1 {
    color: var(--color-2);
    margin: 1rem 0 2rem;
    text-align: center;
}

p {
    padding: 0 2rem;
}

.main {
    background-color: inherit;
    height: 100%;
    max-width: var(--main-width);
    margin: 0 auto;
    box-shadow: 1rem 1rem 2rem 0rem #0000001a;
    border-radius: 1rem;
    padding: .5rem;
    overflow: auto;
}
